


$main-color : rgb(89, 173, 89) ;
$font-color : beige  ;
$primary : #848080 ;
$media1100 : "max-width : 1100px" ;
$media450: "max-width : 450px" ;
$aniColor : #3b3b3b ;
$redColor : firebrick ;

.cen{
    margin-top: 40px ;
    width: 280px ;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
background-color: $main-color;
padding: 8px 12px;
color: #3b3b3b ;
border-radius: 16px;
&:hover::after{
    animation: 1s past2 linear forwards;
}
&:hover::before{
    animation: 1s past linear forwards;
}
&:hover{
    color: $main-color;
    transition: 1s linear;
}
&::after{
    content: "";
    position: absolute;
    width: 15px ;
    height: 15px;
    background-color: #3b3b3b;
    border-radius: 50%;
    top: 50%;
    right: -8%;
    transform: translateY(-50%);
    z-index: -1;
}
&::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 15px ;
    height: 15px;
    background-color: #3b3b3b;
    border-radius: 50%;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
}
}

@keyframes past {
    50%{
left: 0%;
width: 15px ;
height: 15px;
    }
    100%{
        left: 0%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
@keyframes past2 {
    50%{
right: 0%;
width: 15px ;
height: 15px;
    }
    100%{
        right: 0%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}


a{
    text-decoration: none;
}

ul {
    li{
        list-style: none;
    }
}

.container{
    width: 90%;
    margin: auto;
}


body{
    margin: 0%;
    font-family: cursive;
}

.App{
    height: auto;
}

.all{

    position: sticky;
    top: 0%;
    
    z-index: 100;
    background-color: rgba(77, 73, 73, 0.993);
    .container{
.part-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 75px;
}
    .icon{
color: $font-color;
cursor: pointer;
font-size: 20px;
display: none;
    }


    ul{
        padding: 0%;
        display: flex;
        gap: 25px;
        a{
            color: beige;
            text-decoration: none;
            &.active{
                background-color: $main-color;
                padding: 12px 8px;
                border-radius: 15px;
            }
        }
    }


    }

    .contact{
        display: flex;

align-items: center;
.sign,.register{
    a{
        color: beige;
    }
    display: flex;
    align-items: center;
    padding: 10px 15px;
    i{
        margin-right: 5px;
        color: white;
    }
    color: beige;
}
.quote{
    a{
        background-color:$main-color;
        padding: 10px 6px ;
        color: beige;
        cursor: pointer;
        text-decoration: none;
    }
}

}
}

@media (max-width : 1150px  ){
.all{
    .container{
        .icon{
            display: block;
        }


    ul{
        opacity: 1;
        &.hide{
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity  0.5s linear;
        }
        
        position: fixed;
        top: 75px;
        left: 0%;
        width: 25vw;
        &.normal{
    background-color: $main-color !important;
    transition: all  0.5s linear;
  }
        height: 100vh;
        text-align: center;
        padding: 0%;
        margin: 0%;
        flex-direction: column;
        li{
            padding: 15px 0;
            a.active{
                background-color: black;
                padding: 10px 15px;
                border-radius: 10px;
                color: firebrick;
            }
        }

    }


    }
}
}

@media (max-width : 450px  ){
.all{
    .container{
        ul{
        width: 150px;
        }
    }
}

}


/* Start Part Two*/

.logo{
    margin-top: 40px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex{
            display: flex;
        }
        .colum{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 15px;
            i{
                color: $main-color;
                padding: 0px 15px;
                font-size: 40px;
            }

            .flex-in{
                display: flex;
                flex-direction: column;
                h4,p{
                    margin: 0;
                }
                p{
                    color: $main-color;
                }
            }
        }
    }
}



@media (max-width : 1100px) {
.logo{
    .container{
        flex-direction: column;
        .img{
            img{
                background-color: blueviolet;
                padding: 20px 30px;
                border-radius: 20px;

            }
        }

        .flex{
            flex-direction: column;
            .colum{
                flex-direction: column;
                text-align: center;
                margin-top: 30px;
            }
        }
    }
}
}



/* End Part Two*/

/*start home section*/

.top{
    margin-top: 50px;
}

.slide {
    position: relative;
     button {
        position: absolute;
        z-index: 20;
        background-color: $main-color;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        i{
            font-size: 25px;
            color: wheat;
        }
        &.right{
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
        &.left{
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .true{
        max-width: 100%;
        transition: all 0.6s linear;
        opacity: 0;
        &.active{
            height:600px;
            opacity: 1;
            overflow: hidden;
        }
        img{
            transition: all 0.5s linear !important; 
            max-width: 100%;
            height: 600px;
        
        }
    }
}

.inputs{
background-color: #33333381;
h3,p{
    padding:  0px 20px;
    color: wheat;
    text-transform: capitalize;
}
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
form{
    .go{
        width: 260px;
        padding: 10px 20px;
        width: 100%;
    }
width: 100%;
input{
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 8px 0px;
    max-width: 100%;
    outline: none;
    width: 260px;
    cursor: pointer;
    opacity: 0.6;

&:focus{
    opacity: 1;
}

}
.date , .age {
display: flex;
justify-content: space-between;
    width: 100%;
    input{
        width: 100px;
    }

}
}
}

@media (max-width : 670px) {
    .home{
        .slide{
            .active{
                img{
                    object-fit: cover;
                }
            }
            .right, .left{
               top:90% ;
            }
        }
    }
}


/*end home section*/

/*start headTitle*/
.back{
    margin-top: 30px;
   height: 200px;
   background-image: url("../public/Stack-2/image-heading.jpg");
   background-size: cover;
   background-position: center;
   .container{
    height: 100%;
position: relative;
.path{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $font-color;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    button{
        border-radius: 10px;
        background-color: #333;
        padding: 5px 5px;
        a{
            color: $main-color;
        }
        span{
            color: $font-color;
        }
    }
}
   }
}
/*end headTitle*/


/*start about*/

.about{
    .flex{
        width: 100%;
        display: flex;
        gap: 1%;
        
        & > .col{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .col{
        
            position: relative;
            p:first-of-type{
                color: $main-color;
                margin-bottom: 0;
            }
            h2{
                color: #ddd;
                margin-top: 0;
                span{
                    color: #333;
                }
            }
            button{
                padding: 10px;
                color: $font-color;
                background-color: $main-color;
                outline: none;
                border: none;
                width: 150px;
                i{
                    margin-left: 5px;
                }
            }
            width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
            
        }
        .col:nth-of-type(2){
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%  , -50%);
                background-color: $main-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                width: 40px;
                height: 40px;
                color: $font-color;
            }
        }
    }

    .flex-2{
        width: 100%;
        display: flex;
        gap: 1%;
        .col{
        

            h2{
                text-transform: capitalize;
                color: #333;
                span{
                    color: $main-color;
                }
            }
            position: relative;

            button{
                padding: 10px;
                color: $font-color;
                background-color: $main-color;
                outline: none;
                border: none;
                width: 150px;
                i{
                    margin-left: 5px;
                }
            }
            width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
&:first-of-type {
    i{
        position: absolute;
        top: 50%;
        left: 50%;
transform: translate(-50% , -50%);
        background-color: $main-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        width: 40px;
        height: 40px;
        color: $font-color;
    }
}

&:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    }
        }}

    @media (max-width : 1100px) {
        .about {
            .container{
                .flex,.flex-2{
                    display: block;
                    width: 100%;
                    .col{
                        margin: 10px 0px;
              justify-content: center;
              align-items: center;
              button{
                cursor: pointer;
              }
width: 100%;
img{
    width: 100%;
}
h2,p{
    text-align: center;
}
                    }
                }
            }
        }

    }






/*end about*/




/*start Gallery*/

.gallery{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
        gap: 10px;
        .box{
             box-shadow: 0px 0px  15px #ddd ;
            overflow: hidden;
            position: relative;
            text-align: center;
            padding: 10px;
            img{
                cursor: pointer;
                max-width: 100%;
                transition: all 0.2s linear;
                &.first:hover{
                    transform: scale(1.33);
                }
            }
            h2{
                margin: 0;
            }
            i{
                transition: all 0.2s linear;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 50px;
                color: $main-color;
                transform: translate(-50% , -50%);
                display: none;
                cursor: pointer;
            }
            &:hover {
                i{
                    display: block;
            }

        }
    }
}
.pop{
position: fixed;
top: 50%;
left: 50%;
z-index: 100;
transform: translate(-50% , -50%);
width: 100%;
height: 100%;
img{
    width: 50vw;
    height: 70vh;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
}
.hide{
    background-color: #33333349;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
button{
    position: absolute;
    top: 20%;
    right: 10%;
    padding: 10px 30px;
    background-color: $main-color;
    color: $font-color;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #dddd ;
}

}
}

@media ($media1100){
.gallery {
    .container{
        .pop{
            img{
                width: 90vw;
            }
            button{
                top: 50px;
            }
        }
    }
}
}


@media (max-width : 420px) {
    .gallery {
        .container{
            .pop{
                img{
                    width: 90vw;
                    height: 40vh;
                }
                button{
                    top: 50px;
                }
            }
        }
    }
}

/*end Gallery*/



/*start Des*/
.des{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
        gap: 10px;
        .box{
             box-shadow: 0px 0px  15px #ddd ;
            overflow: hidden;
            position: relative;
            text-align: center;
            padding: 10px;
            img{
                cursor: pointer;
                max-width: 100%;
                transition: all 0.2s linear;
                &:hover{
                    transform: scale(1.03);
                }
            }
            h2{
                margin: 0;
                background-color: $main-color;
                color: $font-color;
            }
            i{
                transition: all 0.2s linear;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 50px;
                color: $main-color;
                transform: translate(-50% , -50%);
                display: none;
                cursor: pointer;
            }
            &:hover {
                i{
                    display: block;
            }

        }
    }
}
}


/*end Des*/



/*start SingleDes*/

.singledes{
    background-color: #ddd;
    .img{
        position: relative;
        width: 100%;
        height: 500px;
        margin-top: 40px;
        img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
width: 370px;
height: 350px;
        }
    }

.container{
    text-align: center;
    h1.fr{
        color: $main-color;
    }
    p{
        color:hotpink;
        padding-bottom: 30px;
        margin-bottom: 0%;
    }
    button.clear{
        background-color: #333;
        // padding: 10px 26px;
        width: 70px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        a{
            color: $font-color;
            text-transform: capitalize;
            width: 100%;
            height: 100%;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

}

/*end SingleDes*/



/*Start Blog */

.blog {
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
        gap: 10px;
        .blog{


&:hover{
    background-color: $main-color;
    color: $font-color;
.link{
    a{
        background-color: #333;

    }
}
}





            transition:  linear all 0.4s;
             box-shadow: 0px 0px  15px #ddd ;
            overflow: hidden;
            position: relative;
            text-align: center;
            padding: 10px;
            img{
                cursor: pointer;
                max-width: 100%;
                transition: all 0.2s linear;
                &:hover{
                    transform: scale(1.03);
                }
            }
            h2{
                margin: 0;
                background-color: $main-color;
                border-radius: 10px;
                color: $font-color;
                text-transform: capitalize;
            }
            i{
                transition: all 0.2s linear;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 50px;
                color: $main-color;
                transform: translate(-50% , -50%);
                display: none;
                cursor: pointer;
            }
            &:hover {
                i{
                    display: block;
            }

        }

        .flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            p.rule{
                padding: 6px 12px ;
                background-color: $main-color;
                border-radius: 50px;
                color: $font-color;
                text-transform: capitalize;
            }
        }

        .link{
            margin: 10px 0px ;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                background-color: $main-color;
                padding: 6px 12px;
                border-radius: 10px;
                color: $font-color;
                animation: leftRight 2s linear infinite;
                animation-play-state:paused;
                width: 30%;
                display: block;
            }
        }

        &:hover{
            .link{
                a{
                    animation-play-state: running;
                }
            }
        }
    }
    }
}

@keyframes leftRight {
    30%{
        transform: translateX(30px);
    }

    80%{
        transform: translateX(-30px);
    }
}



.singleBlog{
    background-color: #ddd;
    .img{
        position: relative;
        width: 100%;
        height: 500px;
        margin-top: 40px;
        img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
width: 370px;
height: 350px;
        }
    }

.container{
    text-align: center;
    h1.fr{
        color: $main-color;
    }
    p{
        color:hotpink;
        padding-bottom: 30px;
        margin-bottom: 0%;
    }
    button.clear{
        background-color: #333;
        // padding: 10px 26px;
        width: 70px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        a{
            color: $font-color;
            text-transform: capitalize;
            width: 100%;
            height: 100%;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

}


/*end   Blog*/



/*StART   mONUAL*/

.monial{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
        gap: 10px;
        .box{
             box-shadow: 0px 0px  15px #ddd ;
            overflow: hidden;
            position: relative;
            padding: 10px;
            p{
                color: $primary;
            }
 .con{
    img{
        border-radius: 10px;
    }
    .flex{
        display: flex;
        gap: 25px;
align-items: flex-start;
h3{
    text-transform: capitalize;
}
h4{
    text-transform: capitalize;
    color: $primary;
}
    }
 }
            i{
                transition: all 0.2s linear;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 50px;
                color: #dddd;
                font-size: 260px;
                transform: translate(-50% , -50%);
                cursor: pointer;
                opacity: 0.6;
            }

    }
}
}

@media ($media1100) {
    .monial {
        .container{
            grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
        }
    }
}

/*end   mONUAL*/



/*Start   Contact*/

.contact{
    .container{
        h2{
            text-transform: capitalize;
        }
form{

    width: 100%;
    .inp{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .go{
            width: 50%;
            p{
                text-transform: capitalize;
                color: #333;
            }
        }
        input{
            border: 1px solid #ddd;
            padding: 15px 25px;
            outline: 0;
            width: 80%;
        }
    }

    .text{
        width: 100%;
        textarea{
width: 90%;
padding: 15px 25px;
resize: none;
border: 1px solid #ddd;
outline: none;
        }
    }

    .sum{
margin-bottom: 20px;
        input{
            background-color: $main-color;
            border:inset;
            outline: none;
            padding: 10px 35px ;
            margin-bottom: 40px;
            color: $font-color;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}

.pop{
    position: fixed;
    background-color: #33333370;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .info{
        background-color: white;
        padding: 40px;
        border-radius: 30px;
    }
    h2{
        color: #333333;
        text-transform: capitalize;
        font-size: 20px;
    }
    .edit{
        background-color: $main-color;
        border:inset;
        outline: none;
        padding: 10px 35px ;
        color: $font-color;
        border-radius: 20px;
        cursor: pointer;
        text-transform: capitalize;
    }
}


    }
}

@media (max-width : 800px) {
.big{
    .contact {
        .container {
   form {
    .inp {
        display: block;
    }
   }
        }

        .pop {
            .info{
                h2 {
                    font-size: 14px;
                }
            }
        }
    }
}
}

/*end   Contact*/


/* most pop */


.popular{
    .container{

.slick-slider{
    .control{
        position: absolute;
        bottom: -30px;
        background-color: firebrick;
        color: $font-color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 20px;
        &.right{
    transform: translateX(20px);
    left: 50%;

}
&.left{
    left: 50%;
    transform: translateX(-40px);
}
    }
}

        .slick-slide > div {
          margin: 20px 10px;
        }
        .slick-list {
          margin: 0 -10px;
        }
        .slide{
            border: 1px solid #ddd;
            box-shadow: 0px 0px  15px #dccdcd ;
            text-align: center;
            cursor:grab;
            .img{
                padding: 20px;
                position: relative;
                .con{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 70%;
                    margin: 10px;
                    color: firebrick;
                    i{
                        margin-right: 10px;
                    }
                }
                img {
                    max-width: 100%;
                }
        }

.rate{
    i{
        color: $aniColor;
        font-size: 20px;
        margin: 0px 3px;
    }
}

h3{
font-size: 30px;
color: $main-color;
position: relative;
&::before{
    content: "";
    position: absolute;
    width: 40px ;
    height: 1px;
    background-color: $aniColor;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
&::after{
    content: "";
    position: absolute;
    width: 80px ;
    height: 1px;
    background-color: $aniColor;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
}
     
h2{
    color: #857171;
    span{
        color: $main-color;
    }
}

    }
}
}




/* most pop */

/* Start Footer*/

.footer{
    position: relative;
    height: 600px;
    background-color:black;
    margin-top: 5px;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
        gap: 20px;
        color: white;
        padding-top: 30px;
        .about{
            .media{
                display: flex;
                gap: 7px;
           .icon{
            width: 45px;
            height: 35px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: black;
            }
           }
            }
        }

        .nav{
            a{
                display: block;
                padding: 2px 0px;
                color: white;
                &.active{
                    color:  $main-color ;
                }
            }
        }
        .post{
            .box{
                padding: 4px 0px;
            }
            .flex{
                display: flex;
                align-items: center;
                i{
                    margin-right: 10px;
                }
            }
            p{
                margin: 3px 0px;
            }
            .box2{
                border-top: 1px solid white;
            }
        }
        .new{
            input{
                display: block;
               width: 100%;
               padding: 20px 0px ;
               background-color: black;
               border: 1px solid snow;
               margin-bottom: 10px;
               color: white;
               caret-color: white;
               outline: none;
            }
            button{
                display: block;
                width: 100%;
                padding: 20px ;
                background-color: $main-color;
                margin-bottom: 10px;
                color: white;
                caret-color: white;
                outline: none;
                border: 1px solid snow;
            }
        }
    }
    .writer{
        margin-top: 30px;
        padding: 50px 0px;
        border-top: 1px solid #ddd;
        text-align: center;
        color: white;
        span{
            color: $redColor;
        }
    }
}

@media (max-width : 1400px) {
    .footer {
        height: auto;
    }
}


/* End Footer*/

/*Start Sign*/
.sign{

   .con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .box{

        margin: 40px 0px;
        box-shadow: 0px 0px 15px #ddd;
        padding: 25px;
        width: 43vw;
        p.wa{
            text-align: center;
            text-transform: capitalize;
            animation: 1s infinite linear opa;
            color: $redColor;
            display: none;
        }
        p{
            width: 100%;
        }
        &>input {
            display: block;
            width: 100%;
            margin: 10px 0px;
            padding: 20px 0px 20px;
            outline: none;
            position: relative;
            &::placeholder{
            position: absolute;
            left: 20px;
            }
        }
        .flex{
            margin-top: 25px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .flexin{
                display: flex;
                gap: 15px;
                input{
                    cursor: pointer;
                }
            }
            span{
                color: $redColor;
                cursor: pointer;
            }
        }

        .go{
            input{
                display: block;
                width: 100%;
                margin: 10px 0px;
                padding: 20px 0px 20px;
                outline: none;
                background-color: $main-color;
                color: $font-color;
                font-size: 20px;
                border: none;
                cursor: pointer;
            }
        }
        
    }
    .pop{
        .cen{
            padding: 0px ;
            // background-color: red;
        }
        width: 43vw;
        box-shadow: 0px 0px 15px #ddd;
        margin-bottom: 30px;
        min-width: 360px;
        h2{
            padding: 20px;
        }
        button{
            margin: 15px; 
            padding: 15px 25px;
            background-color: $main-color;
            border: none;
            color: $font-color;
            font-size: 20px;
            cursor: pointer;
        }
    }
   } 
}

@media (max-width : 780px) {
    .sign {
        .con{
            .box{
                width: 320px;
            }
            .pop{
                .cen{
                    width: 240px;
                }
                width: 320px;
            }
        }
    }
}


@keyframes opa {
    30%{
        opacity: 0;
        transform: translateY(20px);
    }
    90%{
        opacity: 1;
    }
}
/*end Sign*/
